/**
  * Footer
  */

.footer {
  display: flex;
  flex-direction: column;
  grid-area: 4 / 1 / 5 / 3;
  gap: 1rem;
}

.infos,
.list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.infos {
  gap: 0.5rem;
}

.list {
  gap: 0.75rem;
}

.list li a:has(svg) {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.list svg {
  width: 1.5rem;
}

@media (width >= 960px) {
  .footer {
    position: sticky;
    top: 6rem;
    grid-area: 1 / 2 / 4 / 3;
    padding-top: calc(var(--pp-size) + 3rem);
  }
}
