/* stylelint-disable selector-class-pattern */

/**
  * Sidebar
  */

.sidebar {
  display: flex;
  grid-area: 1 / 1 / 2 / 2;
}

.profilePic {
  width: var(--pp-size);
  height: var(--pp-size);
  border-radius: 100%;
}

@media (width >= 960px) {
  .sidebar {
    position: sticky;
    top: 6rem;
    grid-area: 1 / 2 / 4 / 3;
  }
}
